<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="/admin/base_admin::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section >

		<!-- Display the number of users, events, and courses -->
		<div>
			<p>Total Number of Users: <span th:text="${numberOfUsers}"></span></p>
<!--			<p>Total Number of Events: <span th:text="${numberOfEvents}"></span></p>-->
			<p>Total Number of Courses: <span th:text="${numberOfCourses}"></span></p>
		</div>


	</section>
</body>
</html>