<!DOCTYPE html>
<html lang="en" th:replace="/admin/base_admin::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <h2>Add New Course</h2>
    <form th:action="@{/admin/add-course}" method="post" enctype="multipart/form-data">
        <label for="coursename">Course Name:</label>
        <input type="text" id="coursename" name="coursename" required><br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="imageFile"  required><br>
        <label for="courseDetails">Course Details:</label>
        <textarea id="courseDetails" name="courseDetails" required></textarea><br>
        <button type="submit">Save Course</button>
    </form>

    <!-- Display courses -->
    <h2>Course List</h2>
    <div th:each="course : ${courses}">
        <div>
            <h3 th:text="${course.coursename}"></h3>
            <img th:src="${course.image}" th:alt="${course.coursename}">
<!--            <img th:src="@{/assets/img/${course.image}}" th:alt="${course.coursename}">-->

            <p th:text="${course.courseDetails}"></p>


                <a class="btn btn-danger" th:href="@{/admin/delete-course/{id}(id=${course.id})}">Delete</a>



        </div>
    </div>
</section>

</body>
</html>