<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment/adminLinks::adminLinks"></div>

</head>
<body id="body-pd">
<div th:replace="fragment/adminHeader::adminHeader">

</div>

<div th:replace="fragment/adminContent::adminContent"></div>


<div class ="container">
    <div class = "row">
        <h1> List Users </h1>
    </div>


    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>MobileNo</th>
            <th>Dob</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.first_name}"></td>
            <td th:text="${user.last_name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.mobileNo}"></td>
            <td th:text="${user.dob}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/admin/update/{id}(id=${user.id})}">Update</a>
                <a class="btn btn-danger" th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>




</div>
<div th:replace="fragment/adminScript::adminScript"></div>


</body>
</html>