



    <div class="l-navbar" id="nav-bar" th:fragment="adminContent">
        <nav class="nav">
            <div> <a href="#" class="nav_logo">
                <i class='bx bx-layer nav_logo-icon'>

                </i>
                <span class="nav_logo-name">EDUCATION</span>
            </a>
                <div class="nav_list">
                    <a href="/admin/admin_profile" class="nav_link active">
                        <i class='bx bx-grid-alt nav_icon'>
                        </i>
                        <span class="nav_name">Admin Dashboard</span>
                    </a>
                    <a href="/admin/Profile" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">profile</span> </a>


                    <a href="/admin/users" class="nav_link">   <i class='bx bx-user-check nav_icon'></i>
                        <span class="nav_name">Users</span> </a>






                    <a href="/admin/message" class="nav_link">
                        <i class='bx bx-message-square-detail nav_icon'></i>
                        <span class="nav_name">Messages</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-folder nav_icon'></i>
                        <span class="nav_name">Files</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                        <span class="nav_name">Stats</span> </a>

                    <!--                <a href="/admin/courses" class="nav_link">-->
                    <!--                    <i class='bx bx-book-add nav_icon'></i>-->
                    <!--                    <span class="nav_name">events</span> </a>-->
                    <a href="/admin/courses" class="nav_link">
                        <i class='bx bx-calendar-event nav_icon'></i>
                        <span class="nav_name">events</span> </a>
                    <a href="/admin/payment" class="nav_link">
                        <i class='bx bxl-paypal nav_icon'></i>
                        <span class="nav_name">payment</span> </a>
                    <a href="/admin/country" class="nav_link">
                        <i class='bx bx-info-square'></i>
                        <span class="nav_name">CountryInfo</span> </a>
                    <a href="/admin/country" class="nav_link">
                        <i class='bx bx-fullscreen' ></i>
                        <span class="nav_name">ScreenShare</span> </a>
                </div>
            </div>
            <a href="/logout" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>
