<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Events </title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <div th:replace="fragment/links::links"></div>

</head>

<body>

<!-- ======= Header ======= -->

<div th:replace="fragment/header :: header"></div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Events</h2>
        <p> event page </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div  th:each="course : ${courses}"  class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img th:src="${course.image}" th:alt="${course.coursename}" style="max-width: 100%;">
              </div>
              <div class="card-body">
                <h3 th:text="${course.coursename}"></h3>
                <p class="fst-italic text-center">Sunday, September 26th at 7:00 pm</p>
                <h7 th:text="${course.courseDetails}"></h7>
              </div>
            </div>
          </div>



        </div>

       </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
<div th:replace="fragment/footer::footer" ></div>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <div th:replace="fragment/script::script"></div>

</body>

</html>