<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pte class</title>
  <div  th:replace="fragment/links::links"> </div>
</head>
<body>
<div th:replace="fragment/header::header"></div>


<main id="main">
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>PTE Preparation</h2>
      <p> how u can prepare </p>
    </div>
  </div><!-- End Breadcrumbs -->

  <br>
  <section class="container" data-aos="fade-up">
    <h2>PTE Overview</h2>
    <p>The Pearson Test of English (PTE) is a computer-based English language proficiency exam that assesses the reading, writing, speaking, and listening skills of non-native English speakers. It is widely recognized and accepted by universities and colleges around the world as a reliable measure of English language proficiency.</p>
    <img src="/assets/img/infographics2.webp" alt="" srcset="">
  </section>

  <section class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-5">
    <h2>What is PTE?</h2>
    <p>PTE: Pearson Test of English (Academic) is an English language proficiency test that is designed to assess the competence or the language ability level of non-native English speakers. It assesses all skills of the English language: Speaking, Writing, Reading, and Listening. PTE is one of the internationally recognized tests which is accepted by several universities, colleges, and academic institutions including government agencies. It is a computer-based test that is valid for 2 years.</p>
      </div>

      <div class="col-lg-5">
        <img  width="500px" src="/assets/img/pte-classes-in-kathmandu.webp" alt="" srcset="">
      </div>
    </div>

  </section>

  <section class="container" data-aos="fade-up">
    <h2>PTE Test Format</h2>
    <table class="table table-bordered table-hover">
      <tr style="background-color: #5fcf80">
        <th>PTE Format</th>
        <th>Total Duration</th>
      </tr>
      <tr>
        <td>Speaking and Writing (SW)</td>
        <td>54-67 minutes</td>
      </tr>
      <tr>
        <td>Reading (R)</td>
        <td>29-30 minutes</td>
      </tr>
      <tr>
        <td>Listening (L)</td>
        <td>30-34 minutes</td>
      </tr>


    </table>

  </section>
  <section class="container" data-aos="fade-up">

    <h2>PTE Test Format in Detail:</h2>
    <table class="table table-bordered table-hover">
      <tr style="background-color: #5fcf80">
        <th>Part</th>
        <th>Item Types</th>
        <th>Total no. of Questions</th>
      </tr>
      <tr>
        <td rowspan="6">Part 1: Speaking</td>
        <td>Personal Introduction (unscored)</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Read Aloud</td>
        <td>6-7</td>
      </tr>
      <tr>
        <td>Repeat Sentence</td>
        <td>10-12</td>
      </tr>
      <tr>
        <td>Describe Image</td>
        <td>3-4</td>
      </tr>
      <tr>
        <td>Re-tell Lecture</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>Answer Short Questions</td>
        <td>5-6</td>
      </tr>
      <tr>
        <td rowspan="2">Part 2: Writing</td>
        <td>Summarize Written Text</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>Write Essay</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td rowspan="5">Part 3: Reading</td>
        <td>Multiple-Choice: Single Option</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>Multiple-Choice: Multiple Options</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>Re-order Paragraphs</td>
        <td>2-3</td>
      </tr>
      <tr>
        <td>Reading: Fill in the Blanks(drag and drop)</td>
        <td>4-5</td>
      </tr>
      <tr>
        <td>Reading and Writing: Fill in the Blanks(drop-down list)</td>
        <td>5-6</td>
      </tr>
      <tr>
        <td rowspan="8">Part 4: Listening</td>
        <td>Summarize Spoken Test</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>Multiple-Choice: Multiple Options</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>Fill in the Blanks</td>
        <td>2-3</td>
      </tr>
      <tr>
        <td>Highlight Correct Summary</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>Multiple-choice: Single Option</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>Select Missing Word</td>
        <td>1-2</td>
      </tr>
      <tr>
        <td>Highlight Incorrect Words</td>
        <td>2-3</td>
      </tr>
      <tr>
        <td>Write from Dictation</td>
        <td>3-4</td>
      </tr>
    </table>
  </section>


  <section class="container" data-aos="fade-up">

    <div class=" row ">


      <div class="col-lg-4">



  <h2>What skills are tested in Speaking?</h2>
  <ul>
    <li>Oral Fluency</li>
    <li>Pronunciation</li>
    <li>Content</li>
  </ul>


      </div>


      <div class="col-lg-4">


    <h2>What skills are tested in Writing?</h2>
    <ul>
      <li>Content, Form</li>
      <li>Development, Structure and Coherence</li>
      <li>Grammar, Spelling</li>
      <li>General Linguistic Range</li>
      <li>Vocabulary</li>
    </ul>

      </div>
      <div class="col-lg-4">
    <h2>What skills are tested in Summarize Written Test?</h2>
    <ul>
      <li>Content</li>
      <li>Form</li>
      <li>Grammar</li>
      <li>Vocabulary</li>
      <li>Spelling</li>
    </ul>
      </div>
    </div>
  </section>
  <section class="container" data-aos="fade-up">

    <h2>How to register PTE?</h2>
    <ol>
      <li>Visit the official PTE website and create an account.</li>
      <li>Log in to your account and select your preferred test location and date.</li>
      <li>Fill in your personal information, including your name, contact details, and identification document.</li>
      <li>Review the terms and conditions, then proceed to make the payment for the test fee.</li>
      <li>Once your payment is confirmed, you will receive a confirmation email with your test details.</li>
      <li>On the test day, arrive at the designated test center with your identification document (e.g., passport).</li>
      <li>Follow the instructions provided by the test center staff and complete the PTE exam.</li>
    </ol>
  </section>

  <section class="container" data-aos="fade-up">

    <h2>PTE vs IELTS Equivalent:</h2>
    <table class="table table-bordered table-hover">
      <tr style="background-color: #5fcf80">
        <th>PTE</th>
        <th>IELTS</th>
      </tr>
      <tr>
        <td>86 and above</td>
        <td>9</td>
      </tr>
      <tr>
        <td>83-85</td>
        <td>8.5</td>
      </tr>
      <tr>
        <td>79-82</td>
        <td>8</td>
      </tr>
      <tr>
        <td>73-78</td>
        <td>7.5</td>
      </tr>
      <tr>
        <td>65-72</td>
        <td>7</td>
      </tr>
      <tr>
        <td>59-64</td>
        <td>6.5</td>
      </tr>
      <tr>
        <td>51-58</td>
        <td>6</td>
      </tr>
      <tr>
        <td>43-50</td>
        <td>5.5</td>
      </tr>
      <tr>
        <td>35-42</td>
        <td>5</td>
      </tr>
      <tr>
        <td>30-34</td>
        <td>4.5</td>
      </tr>
      <!-- Continue with other rows -->
    </table>
    <p>Note: Booking your PTE Academic online, you need a valid ID – a valid Nepali passport. Candidates will also be required to show their valid ID on the day of the exam or else they will not be allowed to enter the Test center.</p>
  </section>

  <section class="container" data-aos="fade-up">

    <h2>PTE classes available in Nawalpur</h2>
    <p>If you are planning to take PTE classes in Kathmandu then do Visit us we have a special offer for you. Take advantage of our special offers and get the support you need to succeed in your PTE journey.</p>
    <address>
    YourEducation Consultancy Nepal<br>
      Kawasoti, Nawalpur
    </address>
  </section>

  <section class="container" data-aos="fade-up">


    <div class="row">
    <h2>Why PTE in Your Education Consultancy?</h2>
    <p>Your Education Consultancy feels honored to announce that it has been conducting PTE classes since its establishment. Our well-qualified and experienced Instructors regularly facilitate students who wish to prepare for the PTE exam pragmatically and methodologically. They not only make students well acquainted with the test format but also provide them with some valuable tips and strategies to master individual question types so that the desired score can be easily achieved.</p>
    <!-- Continue with other content -->


<div class="col-lg-5">

    <h2>Availability of resources</h2>
    <p>The Next has a lot of resources with them that can help you to prepare better. Such resources can be guides, pdf, etc. They can help you prepare better and practice for the examination.</p>

</div>

      <div class="col-lg-5">

    <h2>Experienced instructors</h2>
    <p>Learning from somebody who has himself/herself secured good marks can help you broaden your vision towards the test.</p>


      </div>
        <div class="col-lg-5">

    <h2>Learning in a group</h2>
    <p>Learning with a group of people can teach you a lot of things about things that you did not know. You can learn from the people who are better than you and not make similar mistakes like the people who are not as good as you are, make.</p>
        </div>

          <div class="col-lg-5">

    <h2>Revisions & Mock Tests</h2>
    <p>You cannot know if you are good at something unless you push yourself to the limit. To push yourself, you need to know where your starting point is. For this, you need to attain tests frequently and improve accordingly with guidance.</p>

          </div>

    <p>Note: You can either join PTE classes or stay at home and prepare for the PTE exam using various resources.</p>
    </div>
  </section>

  <!-- Continue with other sections -->

</main>


<div th:replace="fragment/script::script"></div>

<div  th:replace="fragment/footer::footer"> </div>

</body>
</html>